ENVIRONMENT=development
DEBUG=true
APP_TITLE=Profile Service
CORS_ORIGINS=http://localhost:3000

SENTRY_ENABLED=false
SENTRY_DSN=
SENTRY_ENVIRONMENT=development
SENTRY_TRACES_SAMPLE_RATE=0.0
SENTRY_RELEASE=

POSTGRES_USER=profile
POSTGRES_PASSWORD=profile
POSTGRES_HOST=db-profile
POSTGRES_PORT=5432
POSTGRES_DB=profile

HH_TOKEN_ENCRYPT_KEY=CHANGEMEINPRODUCTION
HH_REDIRECT_URL=http://localhost:3101
HH_CLIEND_ID=HF0QUB0FMEHUJ3VCMI9L76BT3ME9TA6UOQ0KIU45HVUCDPTBF8OQ4AGINUGVF7OV
HH_CLIENT_SECRET=LM4F6KG381IOE3VKKFJ1CPFDS06F8R35EE4LLSVRSQ5UT5KS2PD7MAPRBM5B5BBB

MAIN_BE_SERVICE_KEY=CHANGEMEINPRODUCTION
