ENVIRONMENT=development
DEBUG=true
APP_TITLE=Profile Service
CORS_ORIGINS=http://localhost:3000

SENTRY_ENABLED=false
SENTRY_DSN=
SENTRY_ENVIRONMENT=development
SENTRY_TRACES_SAMPLE_RATE=0.0
SENTRY_RELEASE=

POSTGRES_USER=profile
POSTGRES_PASSWORD=profile
POSTGRES_HOST=db-profile
POSTGRES_PORT=5432
POSTGRES_DB=profile

HH_TOKEN_ENCRYPT_KEY=<fernet-key>
HH_REDIRECT_URL=http://localhost:3101/auth/hh/
HH_CLIENT_ID=<hh-client-id>
HH_CLIENT_SECRET=<hh-client-secret>
HH_AUTH_URL=https://hh.ru/oauth/authorize
HH_TOKEN_URL=https://api.hh.ru/token
HH_PROFILE_URL=https://api.hh.ru/me
